/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@media only screen and (max-width: 1024px){
    .box-wraper{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .box-2{
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .our-work-h2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .btn-div{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .header{
        padding-inline: 40px;
    }
    .pic-div {
        max-width: 300px;
        padding-right: 15px;
    }
    .footer{
        padding-inline: 30px;
    }
    .text-h2{
        font-size: 70px;
        line-height: 75px;
    }
    .middle{
        padding-left: 10px;
    }
    .text-div{
        padding-left: 15px;
    }
}
@media only screen and (max-width: 768px){
    .bottom{
        display: none;
    }
    .navigation{
        
        position: absolute;
        left: -320px;
        top: 0;
        padding: 80px 30px 30px 30px;
        background-color: #0E1513;
        width: 320px;
        -webkit-transition: -webkit-transform 1s;
        transition: -webkit-transform 1s;
        -o-transition: transform 1s;
        transition: transform 1s;
        transition: transform 1s, -webkit-transform 1s;
        border-radius: 5px;
    }
    .ul-item{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .li-item{
        padding: 10px 0;
    }
    .burger{
        cursor: pointer;
        display: block;
        color: #fc4308;
        font-size: 30px;
    }
    .header.open .navigation{
        -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
                transform: translateX(100%);
    }
    .text-h2{
        font-size: 50px;
        line-height: 55px;
        max-width: 600px;
        text-align: center;
    }
    .container{
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .second{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .fashon-text{
        margin-top: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: 10px;
    }
    .Projects{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
    }
    .fine-art-h2{
        font-size: 40px;
    }
    .text-div{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .icon-div{
        margin-top: 20px;
    }
}
@media only screen and (max-width: 480px){
    .footer-div{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        border: none;
    }
    .contact-h2{
        font-size: 45px;
        line-height: 50px;
    }
    .header{
        padding-inline: 10px;
    }
    .text-h2{
        font-size: 40px;
        line-height: 45px;
        max-width: 400px;
        text-align: center;
    }
}