/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

/* header */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#323e2a), to(#101815));
  background-image: -o-linear-gradient(#323e2a, #101815);
  background-image: linear-gradient(#323e2a, #101815);
}
.burger{
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    background-color: transparent;
}
.burger span{
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #fc4308;
    left: 5px;
    -webkit-transition: opocity 1.5s, background-color 1.5s, -webkit-transform .5s;
    transition: opocity 1.5s, background-color 1.5s, -webkit-transform .5s;
    -o-transition: transform .5s, opocity 1.5s, background-color 1.5s;
    transition: transform .5s, opocity 1.5s, background-color 1.5s;
    transition: transform .5s, opocity 1.5s, background-color 1.5s, -webkit-transform .5s
}
.burger span:nth-child(1){
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px)
}
.burger span:nth-child(3){
    -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
            transform: translateY(10px)
}
.header.open .burger span:nth-child(1){
    -webkit-transform: translateY(0) rotate(45deg);
        -ms-transform: translateY(0) rotate(45deg);
            transform: translateY(0) rotate(45deg);
}
.header.open .burger span:nth-child(2){
    opacity: 0;
}
.header.open .burger span:nth-child(3){
    -webkit-transform: translateY(0) rotate(-45deg);
        -ms-transform: translateY(0) rotate(-45deg);
            transform: translateY(0) rotate(-45deg);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 68px;
  padding-inline: 100px;
}
.nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 517px;
  width: 100%;
  height: 100%;
}
.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.ul-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.a-itme {
  font-family: "Montserrat", sans-serif;
  color: #fc4308;
}
.contact {
  color: #fc4308;
  border: 1px solid #fc4308;
  padding: 10px 16px;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}
/* section 1 */
.text-div {
  max-height: 680px;
  height: 100%;
  max-width: 680px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
}
.text-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 100px;
  line-height: 105px;
  color: #fc4308;
  text-align: left;
  max-width: 680px;
  width: 100%;
}
.text-p {
  font-family: "Montserrat", sans-serif;
  line-height: 24px;
  color: #fc4308;
  text-align: left;
  max-width: 430px;
  width: 100%;
  padding: 24px 0;
}
.pic-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 496px;
  width: 100%;
  margin-top: 80px;
}
.projects-img {
  max-width: 496px;
  width: 100%;
}
.Projects {
  margin: 0 auto;
  margin-bottom: 80px;
  max-width: 1200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/* section 2 */
#Our-work {
  background-color: #0e1513;
}
.our-work-h2 {
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
  width: 100%;
  font-size: 60px;
  color: #fc4308;
  line-height: 60px;
  padding-top: 80px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.box-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.box-p {
  font-family: "Montserrat", sans-serif;
  color: rgba(252, 67, 8, 0.8);
  size: 14px;
  margin-top: 20px;
  margin-bottom: 6px;
}
.box-h5 {
  font-family: "Montserrat", sans-serif;
  color: #fc4308;
  font-size: 18px;
}
.box-1 .box-2 .box-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 380px;
  width: 100%;
}
.img-wraper {
  max-width: 380px;
  width: 100%;
}
.btn-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  padding-bottom: 80px;
}
.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #fc4308;
  border-radius: 3px;
  color: #fc4308;
  background-color: #0e1513;
  width: 137px;
  height: 38px;
}
/* section 3 */
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  width: 100%;
  margin-top: 80px;
  margin-bottom: 80px;
}
.fashon-img {
  max-width: 560px;
  width: 100%;
}
.fashon-imgs {
  max-width: 560px;
  width: 100%;
}
.fashon-text {
  max-width: 450px;
  width: 100%;
}
.fashon-p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #fc4308;
}
.fashon-p2 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #fc4308;
}
.fashon-h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  color: #fc4308;
  margin-top: 16px;
  margin-bottom: 24px;
}
.fashon-btn {
  width: 160px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  border: 1px solid #fc4308;
  background-color: transparent;
  color: #fc4308;
  margin-top: 40px;
}
#Fashion {
  background-image: -webkit-gradient(linear, left top, right top, from(#323e2a), to(#101815));
  background-image: -o-linear-gradient(left, #323e2a, #101815);
  background-image: linear-gradient(90deg, #323e2a, #101815);
}
/* section 4 */
#Fine-Art {
  background-image: -webkit-gradient(linear, left top, right top, from(#323e2a), to(#101815));
  background-image: -o-linear-gradient(left, #323e2a, #101815);
  background-image: linear-gradient(90deg, #323e2a, #101815);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.fine-art-p {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fc4308;
  font-size: 14px;
  max-width: 768px;
  width: 100%;
}
.fine-art-h2 {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fc4308;
  font-size: 48px;
  max-width: 768px;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 60px;
}
.fine-art-div {
  max-width: 1070px;
  width: 100%;
}
.fine-art-img {
  max-width: 1070px;
  width: 100%;
}
.fine-art-btn {
  width: 160px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 3px;
  border: 1px solid #fc4308;
  background-color: transparent;
  color: #fc4308;
  margin-top: 48px;
  margin-bottom: 80px;
}
.btn1:hover {
  background-color: #fc4308;
  color: black;
  -webkit-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
}
#Contact {
  background-color: #0e1513;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.contact-h2 {
  font-family: "Montserrat", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #fc4308;
  font-size: 100px;
  line-height: 105px;
  max-width: 690px;
  width: 100%;
  margin-top: 120px;
}
.contact-p {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #fc4308;
  line-height: 19.5px;
  max-width: 674px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 48px;
}
.contact-btn {
  color: #fc4308;
  border: 1px solid #fc4308;
  border-radius: 3px;
  background-color: transparent;
  padding: 10px 16px;
  margin-bottom: 120px;
}
/* footer */
.footer {
  background-color: #0e1513;
  padding-inline: 70px;
  padding-bottom: 40px;
}
.footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  height: 56px;
  max-width: 1300px;
  width: 100%;
  border-top: 1px solid #fc4308;
}
.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  max-width: 1300px;
  height: 36px;
  width: 100%;
  margin-bottom: 80px;
}
.footer-p {
  font-family: "Montserrat", sans-serif;
  color: #fc4308;
}